DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

MONGODB_URI=

DISCORD_INVITE_URL=https://discord.gg/RZ8C8wnmU

ANNOUNCEMENT_CHANNEL_ID=
UPDATE_CHANNEL_ID=

ADMIN_ROLE_IDS=

AF_REVIVAL_INSTALL_URL=https://mega.nz/file/GaBzTJjT

# Footer code shown in the whitelist DM
FOOTER_CODE=

GAME_API_BASE_URL=
GAME_API_KEY=
